In [1]:
# Whale and Rival Analysis

In [2]:
# In terms of citations, in general, 99.99% of work presented below from office hours with Instructor GS, Instructor AN, Instructor KS, tutor, Ms. LT, and refresher notebooks.

In [3]:
import pandas as pd
import numpy as np
from pathlib import Path
%matplotlib inline
# check

In [4]:
whale_returns_data = Path("02-Homework_04-Pandas_Instructions_Starter_Code_Resources_whale_returns.csv")
sp_500_data = Path("02-Homework_04-Pandas_Instructions_Starter_Code_Resources_sp500_history.csv") 
google_data = Path("02-Homework_04-Pandas_Instructions_Starter_Code_Resources_goog_historical.csv")
cost_hist_data = Path("02-Homework_04-Pandas_Instructions_Starter_Code_Resources_cost_historical.csv")
algo_returns_data = Path("02-Homework_04-Pandas_Instructions_Starter_Code_Resources_algo_returns.csv")
aapl_data = Path("02-Homework_04-Pandas_Instructions_Starter_Code_Resources_aapl_historical.csv")
bsx_path = Path('BSX.csv')
abt_path = Path('ABT.csv')
ibm_path = Path('IBM.csv')
mrk_path = Path('MRK.csv')
# check

In [5]:
whale_set = pd.read_csv(whale_returns_data, index_col="Date", parse_dates=True, infer_datetime_format=True)
# here, just reading whale returns, data not cleaned yet...

In [6]:
whale_set.head(6)

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-02,NaN,NaN,NaN,NaN
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098
2015-03-09,0.000582,0.004225,0.005843,-0.001652

In [7]:
# Read in CSV data
#Make sure you change the csv_path below to grab the right location of your data!
bsx_ticker_data = pd.read_csv(bsx_path, index_col='Date', parse_dates=True, infer_datetime_format=True)
bsx_ticker_data.head()

            Close
Date
2017-05-15  26.42
2017-05-16  26.48
2017-05-17  25.94
2017-05-18  26.14
2017-05-19  26.41